; 普通设置
[General]
; 使用默认 libnx，只能显示ASCII字符
DefaultASCII=true
; 使用 libusbhsfs 访问连接到交换机或底座的USB驱动器
UseLibUsbHsFS=true
; 直接退出到主屏幕
ExitToHomeScreen=false
; 游戏存档备份存放文件夹
SavesFolder=sdmc:/switch/DBI/saves/
; 记录 "安装"、"检查完整性 "和 "清理 "过程
LogEvents=false
; 存储日志的文件夹
LogsFolder=sdmc:/switch/DBI/logs/
; 存储dump游戏的文件夹
DumpsFolder=sdmc:/switch/DBI/dumps/
; 应用程序列表的排序选项
AppSorting=LastPlayed,InstallLocation,Size,Name
; 游戏存档列表的排序选项
SaveSorting=AppLastPlayed,AppName,UserUid,Size,Time
; 在文件浏览器中，突出显示有已安装游戏有更新的文件
HighlightUpdates=true
; 旋转屏幕和按键
RotateScreen=false
; 旋转手柄
RotateJoycon=false
; 在菜单中降低CPU频率以减少电池的使用
OptimizeClockSpeed=false
; URL 包含版本信息的格式 <id>|<rightsId>|[version]
VersionsURL=https://raw.githubusercontent.com/16BitWonder/nx-versions/master/versions.txt
;VersionsURL=https://raw.githubusercontent.com/blawar/titledb/master/versions.txt
;VersionsURL=sdmc:/versions.txt
; 浏览以只读模式保存FS
ROSaveFS=true
; 在文件浏览器的上下文菜单中显示“从此处更新所有项目…”
ShowUpdateFromHere=false
; 显示缓存预热微调器
ShowCacheWarmingIndicator=true
; 选择后向下移动光标
MoveDownAfterX=false
; 屏幕空闲超时（秒）
ScreenIdleTimeout=0								  

; 主菜单可见性
[MainMenu]
; 从MicroSD储存卡浏览和安装文件
BrowseSD=true
; 从SYSTEM分区浏览和复制文件
BrowseSystem=false
; 从USER分区浏览和复制文件
BrowseUser=false
; 从USB 储存器或硬盘浏览和安装文件
USBHost=true
; 从 PC 通过 dbibackend 浏览和安装文件
BackendInstall=false
; 从插入的游戏卡带安装游戏
GameCard=false
; 从配置的网络源浏览和安装文件
Network=true
; 从已配置的sd卡文件夹浏览和安装文件
Local=false
; 浏览已安装的应用（游戏）
BrowseApps=true
; 清理破损安装/旧更新/未使用的票据等，留下的文件
Cleanup=true
; 检查 app 更新
UpdateCheck=true
; 浏览和删除已安装票据
Tickets=false
; 查看或删除游戏存档
Saves=false
; MTP 功能
MTP=true
; FTP 功能
FTP=true

[Applications]
; 是否检查金手指和 mod 的大小
CalculateLFSSize=false

; 安装选项
[Install]
; 安装时检查NCA哈希值
CheckHash=false
; 使用分块HTTP传输（在恶劣环境中很好）
ChunkedTransfer=true

; MTP选项
[MTP]
; 记录所有文件日志
LogAllFiles=false
; 是否显示包含基本游戏、最新更新和所有DLC的单个NSP文件
ShowCombinedNSP=true
; 是否显示虚拟的 "Mods & cheats "文件夹，该文件夹重定向到sdmc:/atmosphere/contents/TITLEID
ShowMAC=true
; 将 TitleID 用于“Mods & cheats”文件夹
MACasTID=true
; 显示用户定义 MircoSD 文件夹的快捷方式，作为单独的存储空间																 
CustomStorages=true
; 启动MTP模式时关闭屏幕
TurnOffScreen=false
; 报告安卓扩展（一些发起者认为安卓有错误）
ReportAndroidExtension=true
; 使用单个 URB 传输。会慢很多，但可以提高稳定性
SingleURB=false
; MTP 传输缓冲区大小（以 KB 为单位）
BufferSize=512
; MTP 传输超时（毫秒）
NewBufferTimeout=2500

; FTP选项
[FTP]
; 启动FTP模式时关闭屏幕
TurnOffScreen=false
; 启动 FTP 服务器的本地接入点
UseAP=false

; 接入点选项
[Access point]
; 接入点名称
SSID=
; 接入点密码
Password=
; 启用5G频率
Use5GHz=true
; 隐藏
Hidden=false

;启用或禁用各种MTP存储功能
[MTP Storages]
1: SD Card=true
2: Nand USER=false
3: Nand SYSTEM=false
4: Installed games=true
5: SD Card install=true
6: NAND install=true
7: Saves=true
8: Album=true
9: Gamecard=true


; 网络安装源					 					 
[Network sources]
; <display name>=<type>|<URL>
;NSP Indexer=URLList|http://192.168.1.47/nspindexer/index.php?DBI
;Home server=ApacheHTTP|http://192.168.1.47/Nintendo/Switch/
;Test FTP=FTP|ftp://192.168.1.24:2121/
;Test SFTP=SFTP|sftp://user:password@192.168.1.24/
;Test SFTP=SFTP|sftp://remote_user@192.168.1.47/
;Instead of password you can use sdmc:/switch/.ssh/id_rsa and sdmc:/switch/.ssh/id_rsa.pub files
;Sorry, but it seems to be libcurl limitation to use full keypair instead of only private key.

; 主菜单快捷方式在SD卡的路径
[Local sources]
; <显示名称>=<路径>
Homebrew=sdmc:/switch
; Contents=sdmc:/atmosphere/contents
; DBILogs=sdmc:/switch/DBI/logs

; 自定义虚拟MTP驱动器
[MTP custom storages]
; <显示名称>=<路径>
相册工具=sdmc:/switch/
金手指和MOD放这=sdmc:/atmosphere/contents

; 替换显示名称在 DBI 和 MTP 模式下
; <UPPERCASE TID>=<显示名称>
[Title name override]
; 010023901191C000=Naheulbeuk
00FF0000636C6BFF=超频
420000000000000E=无线FTP传输
0000000000534C56=底座插件
0100000000000352=虚拟amiibo
0100000000000f12=屏幕滤镜
010000000000cf12=屏幕滤镜
690000000000000D=有线手柄插件
4200000000000010=联机插件
010000000000bd00=蓝牙手柄连接插件
00FF0000A53BB665=投屏
420000000007E51A=特斯拉本体
